html,body{
    margin: 0;
    padding: 0;
}
*{
    box-sizing: border-box;
}
#page{
    width: 100%;
    height: 100%;
}
#playlist{
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0;
    top: 0;
}
#playlist-text{
    position: absolute;
    white-space: pre;
    overflow-y: scroll;
    overflow-x: scroll;
    top: 0;
    bottom: 50px;
    left: 0;
    right: 0;
    padding: 5px;
}
#playlist-button{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
}
#filelist{
    position: absolute;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 50%;
    height: 100%;
    left: 50%;
    top: 0;
}
#filelist div{
    white-space: nowrap;
    padding: 5px;
}